* {
    box-sizing: border-box;
  }
 /* background image  */
body  {
    background: black url('counter.jpg') right/center;
    height: 100vh;
    margin: 0;
   
  }
/* different page navigaiton */
ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 30;
    overflow: hidden;
    background-color: rgb(189, 185, 185);
    color: black;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    text-decoration:none;
  }
  .ul a:hover {
    background-color: #777777;
    color: #ffffff;
  }
/* logo */
#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    max-height: 60px;
    width: auto;
}
/* side nav decoraiton */

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(189, 185, 185);
    overflow-x: hidden;
    padding-top: 20px;
    color: #464141;
  }

  h1,p{text-align:center;
  position: static;
  top: 0px;
    
}


.foot{
    color:white;
    position:static;
    right:0;
    bottom:0;
    margin:0;
    padding:0;
    width:75%;

}



.foot img { 
    max-width: 30%; 
    max-height: 30%;
    top: 40px;
    right:30px;
    left: 70px;
    margin:0;
    padding:0;
    position: relative;
   
    } 
footer{
    width: 100%;
    background: black;
    color: white;
    bottom:0;
    margin:0;
    padding: 0;
    position: fixed;
    text-align: center;
    


}
  


